<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jsteiner.trello.boards</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C5D6973-BCF3-4A39-A7F1-33680C13EABD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C4BD187-5105-4E6E-85E7-5C9520FB0B9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4868D908-4159-4550-B78D-119E94F93D66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4C5BBF1-4290-4D49-B24E-996BC0E6369D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9C4BD187-5105-4E6E-85E7-5C9520FB0B9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA57BAF-4BF1-4131-9B73-56FE9BCE6A54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F4C5BBF1-4290-4D49-B24E-996BC0E6369D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04656EE6-359D-461A-A71A-5912B3FAC597</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josh Steiner</string>
	<key>description</key>
	<string>Quickly Open Trello Boards</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trello Boards</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04656EE6-359D-461A-A71A-5912B3FAC597</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4868D908-4159-4550-B78D-119E94F93D66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>trello</string>
				<key>script</key>
				<string>source /usr/local/share/chruby/chruby.sh
chruby 2.1

ruby feedback.rb {query}</string>
				<key>title</key>
				<string>Trello Boards</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4C5BBF1-4290-4D49-B24E-996BC0E6369D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Cached Trello Boards</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ABA57BAF-4BF1-4131-9B73-56FE9BCE6A54</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cache-trello</string>
				<key>text</key>
				<string>Cache Trello Boards</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C5D6973-BCF3-4A39-A7F1-33680C13EABD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>source /usr/local/share/chruby/chruby.sh
chruby 2.1

ruby boards.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C4BD187-5105-4E6E-85E7-5C9520FB0B9C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04656EE6-359D-461A-A71A-5912B3FAC597</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0C5D6973-BCF3-4A39-A7F1-33680C13EABD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4868D908-4159-4550-B78D-119E94F93D66</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9C4BD187-5105-4E6E-85E7-5C9520FB0B9C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>ABA57BAF-4BF1-4131-9B73-56FE9BCE6A54</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F4C5BBF1-4290-4D49-B24E-996BC0E6369D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/jsteiner/alfred-trello-boards</string>
</dict>
</plist>
